<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кабинет администратора - Заказы</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments :: header}">
</div>
<h1>Кабинет администратора</h1>
<div class="main-container">
    <div th:insert="~{fragments :: adminButtonPanel}">
    </div>
    <h2 class="orders-header-h2">Заказы</h2>
    <form th:method="GET" th:action="@{/admin/orders}">
        <div class="search-panel">
            <div class="order-search-form">
                <label for="keyword">Введите последние 4 символа номера заказа: </label>
                <input id="keyword" type="search" name="keyword" th:value="${keyword}" class="form-control" placeholder="xxxx" minlength="4" maxlength="4" required/>
                <input type="submit" value="Применить"/>
                <a href="/admin/orders">
                    <button type="button">Очистить</button>
                </a>
            </div>
        </div>
        <div class="grid-container">
            <div th:insert="~{fragments :: orderList}">
            </div>
        </div>
    </form>
</div>
</body>
</html>