<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кабинет администратора - Пользователи</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments :: header}">
</div>
<h1>Кабинет администратора</h1>
<div class="main-container">
    <div th:insert="~{fragments :: adminButtonPanel}">
    </div>
    <h2 class="page-header-h2">Пользователи</h2>
    <form th:method="GET" th:action="@{/admin/users}">
        <div class="grid-container">
            <div th:insert="~{fragments :: userList}">
            </div>
        </div>
    </form>
</div>
</body>
</html>